body {
    margin: auto;
    width: 100%;
    background-image: url('images/background.png');
    background-color: #202123;
    background-repeat: no-repeat;
    background-size: cover;
}

#battleship {
    color: white;
    font-size: 96px;
    font-family: Orbitron;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#galactica {
    color: white;
    font-size: 96px;
    font-family: Orbitron;
    display: flex;
    justify-content: center;
}

button {
    margin: 0 auto;
    margin-top: 200px;
    background-color: transparent;
    border: 2.25px solid white;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: Orbitron;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    background-color: #bfc5cc;
    opacity: .85;
    margin: 5px;
}

.column.occupied {
    background-color: #c9673a;
    opacity: .85;
}

.column.hit {
    background-color: #c12e2e;
    opacity: .95;
}

.column.miss {
    opacity: 0;
}

.board  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.user-container {
    display: flex;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-right: auto;
    padding-left: 100px;
    padding-bottom: 120px;
}

.ai-container {
    display: flex;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    padding-right: 100px;
}

.gameboard {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

h1 {
    color: white;
    font-size: 48px;
    font-family: Orbitron;
}
