html {
    height: 100vh;
}

body {
    margin: auto;
    width: 100%;
    background-image: url('images/background.png');
    background-color: #202123;
    background-repeat: no-repeat;
    background-size: cover;
}

#battleship {
    color: white;
    font-size: 96px;
    font-family: Orbitron;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#galactica {
    color: white;
    font-size: 96px;
    font-family: Orbitron;
    display: flex;
    justify-content: center;
}

#start {
    margin: 0 auto;
    margin-top: 200px;
    background-color: transparent;
    border: 2.25px solid white;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: Orbitron;
}

#start:active {
    filter: brightness(50%);
}

#start:focus {
    outline: none;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    flex: 1;
    background-color: #bfc5cc;
    opacity: .85;
    margin: 5px;
}

.column-mouseenter {
    background: white;
}

.column-mouseenter:active {
    filter: brightness(75%);
    opacity: 0.5;
}

.column.occupied {
    background-color: #c9673a;
    opacity: .85;
}

.column.hit {
    background-color: #c12e2e;
    opacity: .95;
}

.column.miss {
    opacity: 0;
}

.board  {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.user-container {
    display: flex;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 100px;
    padding-bottom: 120px;
    margin-right: 175px;
}

.ai-container {
    display: flex;
    height: 400px;
    width: 400px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 100px;
    margin-left: 175px;
}

.ai-container:hover {
    cursor: pointer;
}

.gameboard {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.end-game-header {
    display: flex;
    flex-direction: column;
}

.h1 {
    font-size: 48px;
    color: white;
    font-family: Orbitron;
}

a {
    margin: 0 auto;
    margin-top: 100px;
    background-color: transparent;
    border: 2.25px solid white;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: Orbitron;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    border-color: lightblue;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

a:active {
    filter: brightness(50%)
}

a:focus {
    outline: none;
}
/* title and button screen size response */
@media screen and (max-width: 900px), screen and (max-height: 900px) {
    #battleship, #galactica {
        font-size: 72px;
        transition: 0.5s;
    }
    #start {
        border: 1.5px solid white;
        padding: 10px 22px;
        font-size: 18px;
        transition: 0.5s;
    }
}

@media screen and (max-width: 650px), screen and (max-height: 650px) {
    #battleship, #galactica {
        font-size: 52px;
        transition: 0.5s;
    }
    #start {
        border: 1.25px solid white;
        padding: 7.5px 15.5px;
        font-size: 12px;
        transition: 0.5s;
    }
}
/* gameboard screen size response */
@media screen and (max-width: 1450px), screen and (max-height: 900px) {
    .ai-container, .user-container {
        height: 300px;
        width: 300px;
        transition: 0.3s;
    }
    .ai-container {
        margin-left: 125px;
        transition: 0.3s;
    }
    .user-container {
        margin-right: 125px;
        transition: 0.3s;
    }
    a {
        border: 1.5px solid white;
        padding: 12.5px 25px;
        font-size: 20px;
        transition: 0.3s;
    }
}

@media screen and (max-width: 1250px), screen and (max-height: 900px) {
    .ai-container, .user-container {
        height: 250px;
        width: 250px;
        transition: 0.3s;
    }
    .ai-container {
        margin-left: 50px;
        transition: 0.3s;
    }
    .user-container {
        margin-right: 50px;
        transition: 0.3s;
    }
    a {
        border: 1.25px solid white;
        padding: 10px 20px;
        font-size: 16px;
        transition: 0.3s;
    }
}

@media screen and (max-width: 800px), screen and (max-height: 750px) {
    .ai-container, .user-container {
        height: 200px;
        width: 200px;
        transition: 0.3s;
    }
    .ai-container {
        margin-left: 25px;
        transition: 0.3s;
    }
    .user-container {
        margin-right: 25px;
        transition: 0.3s;
    }
    a {
        border: none;
        transition: 0.3s;
        height: 25px;
    }
    a:hover {
        color: lightblue;
        background-color: transparent;
    }
}

@media screen and (max-width: 650px), screen and (max-height: 650px) {
    .ai-container, .user-container {
        height: 150px;
        width: 150px;
        transition: 0.3s;
    }
    .ai-container {
        margin-left: 12.5px;
        transition: 0.3s;
    }
    .user-container {
        margin-right: 12.5px;
        transition: 0.3s;
    }
    a {
        border: none;
        transition: 0.3s;
        height: 25px;
    }
    a:hover {
        color: lightblue;
        background-color: transparent;
    }
}
